@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,475;1,475&family=Roboto:ital,wdth,wght@0,85.4,100..900;1,85.4,100..900&display=swap");

:root {
  --primary-color: #0f1727;
  --accent-color: #5cfca0;
  --grey-100: #f5f5f5;
  --grey-200: #eeeeee;
  --grey-300: #e0e0e0;
  --grey-400: #bdbdbd;
  --grey-500: #9e9e9e;
  --grey-600: #757575;
  --link-color: #055160;
  --accent-color-dark: #75b798;
  --danger-light: rgb(253, 237, 237);
  --danger-dark: rgb(95, 33, 32);
  --warning-light: #fff3cd;
  --warning-dark: #664d03;
  --card-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 15rem 3fr;
  /* grid-template-rows: 1fr 7fr; */
  grid-template-areas:
    "aside header"
    "aside main";
  gap: 0.75rem 1.5rem;
  margin: 0%;
  padding: 0%;
  font-family: "Poppins";
}

/* Colours Declaration */

header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1.5rem 0 0;
}

main {
  grid-area: main;
  gap: 10px;
  margin: 1rem 1.5rem 0 0;
}
.count-card-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

.count-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1.75rem 0rem;
  flex-basis: 23%;
}

.count-card h1 {
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--primary-color);
  line-height: 1.75rem;
}

.count-card h3 {
  font-weight: 500;
  color: var(--accent-color-dark);
  margin-top: 0.75rem;
}

.information-section {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 1em;
  margin: 1rem 0 2rem;
}

.information-section .action-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-basis: 30%;
}

.title-action-card {
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
  padding: 0.8rem;
}

.chart-progress-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.chart-progress {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(
    #ffffff 0% 1%,
    var(--accent-color) 1% 33%,
    #ffffff 33% 34%,
    var(--grey-600) 34% 66%,
    #ffffff 66% 67%,
    #000000 67% 100%
  );
}

.chart-progress::before {
  content: "2923";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 2;
}

.chart-progress::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #ffffff;
}

.information-section .title-action-card h5,
.lead-graph-section .lead-source-section .source-card h5 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--primary-color);
}

.information-section .action-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
  padding: 0.5rem 0.75rem;
  margin-bottom: 10px;
  gap: 6px;
  font-size: 1rem;
}
.information-section .action-card h5 {
  font-weight: 400;
  font-size: 0.75em;
  margin-bottom: 0.5rem;
}

.information-section .action-card .paragraph-font {
  font-size: 0.6em;
  color: var(--grey-600);
}

.chart-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-basis: 30%;
}

.chart-section .title-action-card h5 {
  padding: 0.8rem;
}

.chart-section .title-action-card .course-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--grey-300);
  margin: 2px;
  padding: 0.5rem 0;
}

.chart-section .title-action-card .course-name:last-child {
  border-bottom: none;
}

.chart-section .title-action-card .course-name .label,
.chart-section .title-action-card .course-name .value {
  font-size: 0.8rem;
  font-weight: 300;
  padding-left: 1rem;
  position: relative;
}

.chart-section .title-action-card .course-name .label::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 2px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.std-course-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  gap: 3rem;
  border-top: 1px solid var(--grey-300);
  margin-top: 1.5rem;
}

.lead-graph-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  flex-grow: 1;
}

.lead-graph-section .lead-source-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.lead-graph-section .lead-source-section .source-card {
  width: 100%;
  align-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: var(--card-box-shadow);
}

.lead-graph-section .lead-source-section .source-card .line-range {
  margin-bottom: 1rem;
}

.lead-graph-section .lead-source-section .source-card .line-range h6 {
  margin: 0 0 0.5rem 0;
  font-weight: 300;
}

.lead-graph-section
  .lead-source-section
  .source-card
  .line-range
  .source-comparison {
  border: 1px solid var(--accent-color);
  height: 1em;
  background-color: var(--accent-color);
  border-radius: 50px;
  width: 70%;
}

.lead-graph-section
  .lead-source-section
  .source-card
  .line-range:nth-child(2)
  .source-comparison {
  width: 85%;
}

.lead-graph-section
  .lead-source-section
  .source-card
  .line-range:nth-child(3)
  .source-comparison {
  width: 50%;
}

.graph-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

aside {
  grid-area: aside;
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1rem;
  max-height: 100vh;
  overflow-y: scroll;
  position: sticky;
  top: 0;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.logo-section img {
  width: 70px;
}

.logo-section img path {
  fill: red;
}

.logo-section h1 {
  color: #ffffff;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  line-height: 1.75rem;
  font-weight: 500;
}

.logo-section h1 span {
  color: var(--accent-color);
  font-size: 1.5rem;
}

.nav-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  color: #ffffff;
}

.nav-section li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 0.25rem;
}

.nav-section li:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

.nav-section li span {
  font-size: 0.75rem;
  font-weight: 300;
}

.nav-section li svg {
  fill: red;
}

.usage-section {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.3px);
  -webkit-backdrop-filter: blur(3.3px);
  border: 1px solid rgba(255, 255, 255, 0.21);
  padding: 1rem 0.5rem;
  font-size: 0.8rem;
}
.text-content .title {
  margin-bottom: 0;
}

.text-content .description {
  font-weight: 300;
  font-size: 0.7rem;
  margin-top: 0.2rem;
}

/* footer {
  grid-area: footer;
} */

/* chart - card need to remove */

.chart-card {
  width: 20em;
  align-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  /* padding: 0.8em 2em; */
}

.progress-ring {
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: conic-gradient(
    var(--accent-color) 0 80%,
    var(--grey-200) 80% 100%
  );
}

.progress-ring::before {
  content: "80%";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  z-index: 2;
}

.progress-ring::after {
  content: "";
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--primary-color);
}

/* outer need to remove */

.outer {
  margin: 50px;
  height: 150px;
  width: 150px;
  border: 25px solid #ffff00;
  border-radius: 50%;
}

/* chart-card-content need to remove */

.chart-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* card-content need to remove */

.card-content {
  border: 1px solid black;
  height: 3em;
  width: 15em;
  align-content: center;
  border-radius: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

/* Fonts */

.heading-font {
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: xx-large;
  margin: 0%;
  padding: 0%;
}

.paragraph-font {
  font-optical-sizing: auto;
  font-weight: 300;
  font-size: 12px;
  font-style: normal;
  color: var(--grey-500);
  margin: 0%;
  padding: 0%;
}

h1 {
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: black;
  margin: 0%;
  padding: 0%;
}

h3 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black;
  margin: 0%;
  padding: 0%;
}

h5 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: black;
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--link-color);
}

/* line */
.chart-card h5 {
  margin: 1px 14px;
}

/* Utility Classes */

.btn {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 14px;
  border-radius: 8px;
  outline: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.secondary-btn {
  background-color: #ffffff;
  color: var(--primary-color);
  border: 0.5px solid var(--primary-color);
}

a.btn {
  background-color: transparent;
  font-weight: 500;
}

.badge {
  background-color: var(--danger-light);
  color: var(--danger-dark);
  font-size: 0.65rem;
  text-transform: capitalize;
  padding: 0.15rem 0.5rem 0.15rem 1rem;
  border-radius: 0.3rem;
  position: relative;
}

.badge::before {
  content: "";
  width: 5px;
  height: 5px;
  background-color: var(--danger-dark);
  border-radius: 50%;
  position: absolute;
  left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
}

.badge.warning {
  background-color: var(--warning-light);
  color: var(--warning-dark);
}

.badge.warning::before {
  background-color: var(--warning-dark);
}

.avatar > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  line-height: 2rem;
  display: inline-block;
}

.avatar-icon {
  align-self: flex-start;
}

.avatar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2rem;
  border-top: 1px solid var(--grey-100);
  padding: 1rem 0;
}

.avatar-description p:first-child {
  font-size: 0.75rem;
  font-weight: 400;
}

.avatar-description p:last-child {
  font-size: 0.65rem;
  font-weight: 200;
}

hr {
  background-color: var(--grey-300);
  margin: 0;
  height: 1px;
  outline: none;
  border: none;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-4 {
  margin: 2rem;
}

.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 1.5rem;
}
.ml-4 {
  margin-left: 2rem;
}

.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 1.5rem;
}
.mr-4 {
  margin-right: 2rem;
}

.mb-1 {
  margin-bottom: 0.5rem;
}
.mb-2 {
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1.5rem;
}
.mb-4 {
  margin-bottom: 2rem;
}

.p-0 {
  padding: 0;
}

.p-0-75r {
  padding: 0.75rem;
}

.p-4 {
  padding: 2rem;
}

.w-100p {
  width: 100%;
}

/* Animations */

@-webkit-keyframes plan-usage {
  to {
    stroke-dashoffset: 80; /* 50% would be 220 (half the initial value specified above) */
  }
}

@keyframes plan-usage {
  to {
    stroke-dashoffset: 80;
  }
}

/* Media query */

@media screen and (min-width: 1200px) {
  .container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 600px) {
  body {
    grid-template-columns: 0 3fr;
  }

  header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  aside {
    padding: 0;
  }

  .count-card-section,
  .information-section {
    flex-direction: column;
    align-items: stretch;
  }

  .count-card-section .count-card {
    flex-basis: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 850px) {
  .count-card-section .count-card {
    flex-basis: 48%;
  }
  .information-section {
    flex-direction: column;
    align-items: stretch;
  }
  header {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
